DOMAIN=rovno.dev
# dev: web | prod: websecure
ENTRYPOINT=websecure
# dev: false | prod: true
TLS_ENABLED=true
# dev: (empty) | prod: myresolver
CERT_RESOLVER=myresolver
TRAEFIK_API_INSECURE=false

FRONTEND_PORT=3000
NEXT_PUBLIC_BASE_URL=http://localhost

FAKE_API_HOST=fake-api.localhost
FAKE_API_PORT=8001
FAKE_API_DB_USER=postgres
FAKE_API_DB_PASSWORD=postgres
FAKE_API_DB_NAME=fake_api
FAKE_API_DB_DSN=postgres://postgres:postgres@fake_api_db:5432/fake_api?sslmode=disable