DOMAIN=localhost
# dev: web | prod: websecure
ENTRYPOINT=websecure
# dev: false | prod: true
TLS_ENABLED=true
# dev: (empty) | prod: myresolver
CERT_RESOLVER=myresolver
TRAEFIK_API_INSECURE=false

FRONTEND_PORT=3000
NEXT_PUBLIC_BASE_URL=http://localhost

FAKE_API_HOST=
FAKE_API_PORT=
FAKE_API_DB_USER=
FAKE_API_DB_PASSWORD=
FAKE_API_DB_NAME=
FAKE_API_DB_DSN=